<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.augmate.gct_mtg_client"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>

    <!-- Required for internet. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Allow you to get LOGCAT information when a crash occurs. -->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- Allow you to see which activity was active when a crash occurs. -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- Allows location to be tracked -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".app.activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_triggers"/>
        </activity>
        <activity android:name=".app.activities.BookingActivity"/>
        <activity android:name=".app.activities.VoiceTimeSelectActivity"/>
        <activity android:name=".app.activities.RoomSelectionActivity"/>
        <activity android:name=".app.activities.DeviceAuthInfoActivity"/>
        <activity android:name=".app.activities.BeaconActivity"/>

        <service
            android:name="com.estimote.sdk.service.BeaconService"
            android:exported="false"/>

        <receiver android:name=".app.NetworkConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
